{% extends 'blog/base.html' %}
{% block content %}
<h1>Create new post</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    <fieldset>
        <legend>Images</legend>
        {{ formset.non_form_errors }}
        {{ formset.errors }}
        {% for subform in formset %}
            <div class="formset-row">
                {{ subform.as_p }}
            </div>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Save Post" class="btn btn-default">
</form>
{% endblock %}
