{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Create new post</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <small>Enter one or more tags:</small>
    {{ form_tag|crispy }}
    {{ formset.management_form }}
    {% for subform in formset %}
        {{ subform|crispy }}
    {% endfor %}
    <input type="submit" value="Save Post" class="btn btn-default">
</form>
{% endblock %}